<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BigInteger" version="1.0.6.32395" targetFramework="net45" />
  <package id="ElGamalExt" version="0.9.3.32706" targetFramework="net45" />
  <package id="ElGamalExt.Homomorphism" version="0.9.2.32643" targetFramework="net45" />
</packages>